<h1 style='text-align: center'>SQL Queries</h1>

## Getting Data From A SQL Database

### The Structure of a SQL Query

<img src='images/sql_statement.jpg'/>

#### SELECT

- What columns of data do we want? 
- Specify by column names or * (All)

**FROM**



- Where are we getting our data from? 
- Specify by table name or use join statement to join multiple tables

##### JOIN

- Use to join multiple tables 
- SELECT * FROM students join favorite_foods on students.id = favorite_foods.student_id
- SELECT * FROM students as s join favorite_foods as f on s.id = f.student_id

#### WHERE

- apply some filter to the data you are querying 
- define criteria for data that should selected from the database 
- SELECT * from students WHERE age > 10

#### GROUP BY

- Group columns by similar values
- SELECT COUNT(id), city from students GROUP BY city

#### HAVING

- Use to apply filter AFTER you have made your initial query 
- When should we use HAVING instead of WHERE

In [63]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [64]:
# Load students.json file

#your code here
import json
f=open('students.json','r')
data=json.load(f)

In [65]:
# iterate over the data and insert each student into the DB
data

[{'name': 'Sean Abu Wilson',
  'birthdate': '02/06',
  'siblings': 2,
  'Birthplace': 'Birmingham, AL',
  'yearsinnyc': 7.8,
  'favoritefood': 'guacamole'},
 {'name': 'Tawab',
  'birthdate': '04/08/1998',
  'siblings': 4,
  'Birthplace': 'Afghanistan',
  'yearsinnyc': 0.5,
  'favoritefood': 'pizza'},
 {'name': 'Bridget Boakye',
  'birthdate': '1990-07-13',
  'siblings': 3,
  'Birthplace': 'Accra',
  'yearsinnyc': 15,
  'favoritefood': 'Indian'},
 {'name': 'Cristina',
  'birthdate': '9/9/1990',
  'siblings': 2,
  'Birthplace': 'Spain',
  'yearsinnyc': 6,
  'favoritefood': 'Sushi'},
 {'name': 'Danny (Haoyang) Yu',
  'birthdate': '1997-03-19',
  'siblings': 2,
  'Birthplace': 'China',
  'yearsinnyc': 0,
  'favoritefood': 'Galbi'},
 {'name': 'Dustin_Breitner',
  'birthdate': '04/15/94',
  'siblings': 2,
  'Birthplace': 'New_York',
  'yearsinnyc': 3,
  'favoritefood': 'Pizza'},
 {'name': 'Gregory DeSantis',
  'birthdate': '1987-11-23',
  'siblings': 2,
  'Birthplace': 'Highland Park, NJ',
  'yearsinnyc': 13,
  'favoritefood': 'Pizza'},
 {'name': 'Harrison Miller',
  'birthdate': '10/2/85',
  'siblings': 0,
  'Birthplace': 'New Jersey',
  'yearsinnyc': 0,
  'favoritefood': 'Pizza'},
 {'name': 'Jeremy Owens',
  'birthdate': '03/30/1990',
  'siblings': 0,
  'Birthplace': 'Virginia',
  'yearsinnyc': 6,
  'favoritefood': 'Avocado'},
 {'name': 'Jeremy Reikes',
  'birthdate': '10/12/1995',
  'siblings': 1,
  'Birthplace': 'New York City',
  'yearsinnyc': 23,
  'favoritefood': 'Pizza'},
 {'name': 'Johnathan Peck',
  'birthdate': '02-19-1994',
  'siblings': 2,
  'Birthplace': 'New York',
  'yearsinnyc': 25,
  'favoritefood': 'Moms food'},
 {'name': 'Minna F',
  'birthdate': '11-19-1996',
  'siblings': 3,
  'Birthplace': 'San Francisco',
  'yearsinnyc': 1,
  'favoritefood': 'sushi'},
 {'name': 'Nabil Abbas',
  'birthdate': '12-07-1994',
  'siblings': 2,
  'Birthplace': 'Long Island',
  'yearsinnyc': 6,
  'favoritefood': 'Gyro'},
 {'name': 'Natalie Del Rossi',
  'birthdate': '10-23-1994',
  'siblings': 0,
  'Birthplace': 'Brooklyn',
  'yearsinnyc': 18,
  'favoritefood': 'pizza'},
 {'name': 'Remy Canario',
  'birthdate': '10-11-1988',
  'siblings': 0,
  'Birthplace': 'New York',
  'yearsinnyc': 28,
  'favoritefood': 'toast'},
 {'name': 'Xristos Katsaros',
  'birthdate': '03-24-1986',
  'siblings': 1,
  'Birthplace': 'Chicago Heights, IL',
  'yearsinnyc': 3,
  'favoritefood': 'Pizza'}]

In [66]:
# dynamic data entry example
c.execute("""DROP TABLE student_info""")

c.execute('''
CREATE TABLE IF NOT EXISTS student_info
(name TEXT, birthdate TEXT, siblings INTEGER, birthplace TEXT, yearsinnyc INTEGER, favoritefood TEXT)
''')

conn.commit()


# c.execute("""
# INSERT INTO student_info VALUES 
#     ('Jeremy Owens',
#      '03/30/1990',
#      0,
#      'Virginia',
#      6,
#      'Avocado'
#     )
# """)

# conn.commit()


def dynamic_data_entry(data):
    name = data['name'].title()
    birthdate = data['birthdate']
    siblings = data['siblings']
    birthplace = data['Birthplace'].title()
    yearsinnyc = data['yearsinnyc']
    favoritefood = data['favoritefood'].title()
    
    c.execute("""INSERT INTO student_info (name, birthdate, siblings, birthplace, yearsinnyc, favoritefood) 
                 VALUES (?, ?, ?, ?, ?, ?)""", (name, birthdate, siblings, birthplace, yearsinnyc, favoritefood))
    
    conn.commit()



#     unix = int(time.time())
#     date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
#     keyword = 'Python'
#     value = random.randrange(0,10)

#     c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
#           (unix, date, keyword, value))

#     conn.commit()

for i in range(len(data)):
    dynamic_data_entry(data[i])
    
c.execute("""select * from student_info""").fetchall()

# c.close
# conn.close()

[('Sean Abu Wilson', '02/06', 2, 'Birmingham, Al', 7.8, 'Guacamole'),
 ('Tawab', '04/08/1998', 4, 'Afghanistan', 0.5, 'Pizza'),
 ('Bridget Boakye', '1990-07-13', 3, 'Accra', 15, 'Indian'),
 ('Cristina', '9/9/1990', 2, 'Spain', 6, 'Sushi'),
 ('Danny (Haoyang) Yu', '1997-03-19', 2, 'China', 0, 'Galbi'),
 ('Dustin_Breitner', '04/15/94', 2, 'New_York', 3, 'Pizza'),
 ('Gregory Desantis', '1987-11-23', 2, 'Highland Park, Nj', 13, 'Pizza'),
 ('Harrison Miller', '10/2/85', 0, 'New Jersey', 0, 'Pizza'),
 ('Jeremy Owens', '03/30/1990', 0, 'Virginia', 6, 'Avocado'),
 ('Jeremy Reikes', '10/12/1995', 1, 'New York City', 23, 'Pizza'),
 ('Johnathan Peck', '02-19-1994', 2, 'New York', 25, 'Moms Food'),
 ('Minna F', '11-19-1996', 3, 'San Francisco', 1, 'Sushi'),
 ('Nabil Abbas', '12-07-1994', 2, 'Long Island', 6, 'Gyro'),
 ('Natalie Del Rossi', '10-23-1994', 0, 'Brooklyn', 18, 'Pizza'),
 ('Remy Canario', '10-11-1988', 0, 'New York', 28, 'Toast'),
 ('Xristos Katsaros', '03-24-1986', 1, 'Chicago Heights, Il', 3, 'Pizza')]

### Questions
1. What are the names of all of the students?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
6. Do any two students have the same favorite food?
7. Which student was born closest to the cohort's graduation date?

In [57]:
# What are the names of all of the students?
c.execute("""select name from student_info""").fetchall()

[('Sean Abu Wilson',),
 ('Tawab',),
 ('Bridget Boakye',),
 ('Cristina',),
 ('Danny (Haoyang) Yu',),
 ('Dustin_Breitner',),
 ('Gregory Desantis',),
 ('Harrison Miller',),
 ('Jeremy Owens',),
 ('Jeremy Reikes',),
 ('Johnathan Peck',),
 ('Minna F',),
 ('Nabil Abbas',),
 ('Natalie Del Rossi',),
 ('Remy Canario',),
 ('Xristos Katsaros',)]

In [58]:
# Which student has the most siblings?
c.execute("""select name from student_info where siblings = (select max(siblings) from student_info)""").fetchall()

[('Tawab',)]

In [59]:
# How many students are only children?
c.execute("""select count(name) from student_info where siblings = 0""").fetchall()

[(4,)]

In [60]:
# Which 3 students have lived in NYC the shortest amount of time?
c.execute("""select name from student_info order by yearsinnyc limit 3""").fetchall()

[('Danny (Haoyang) Yu',), ('Harrison Miller',), ('Tawab',)]

In [61]:
# How many students are native New Yorkers?
c.execute("""SELECT count(name) 
            FROM student_info 
            WHERE birthplace 
            LIKE 'New%York%' OR birthplace LIKE 'Brooklyn'""").fetchall()

[(5,)]

In [68]:
# Do any two students have the same favorite food?
c.execute("""SELECT name, favoritefood FROM student_info 
            WHERE favoritefood IN (SELECT favoritefood FROM student_info 
                                    GROUP BY favoritefood
                                    HAVING count(favoritefood) > 1)
            ORDER BY favoritefood""").fetchall()

[('Tawab', 'Pizza'),
 ('Dustin_Breitner', 'Pizza'),
 ('Gregory Desantis', 'Pizza'),
 ('Harrison Miller', 'Pizza'),
 ('Jeremy Reikes', 'Pizza'),
 ('Natalie Del Rossi', 'Pizza'),
 ('Xristos Katsaros', 'Pizza'),
 ('Cristina', 'Sushi'),
 ('Minna F', 'Sushi')]

In [ ]:
# Which student was born closest to the cohort's graduation date?
c.execute("""SELECT name FROM student_info
            """)