<img src= "./resources/title.png">

### The Sequel:

4. Systems of Linear Equations
5. Linear Regression with Linear Algebra

# Part 4: Systems of Linear Equations

One of the most common applications of matrix operations is in solving systems of linear equations. 
***
### Sidebar: What are Linear Equations?

Linear equations only have **linear variables**. This means our unknowns are only multiplied by a scalar and raised to a power of only **one**, such as:

$ x - 2y = 1$

$3ex + 2\pi y = 0$

**Not linear:**

$ x^2 - 2\ln{y} = 4$

$0.5x + 2y^x = 11$

$e^x + 2x=2$

***

To solve the system of linear equations to find `x` and `y`:

`x - 2y = 1`

`3x + 2y = 11`

First, we need to represent these equations as matrices/vectors.

$\begin{pmatrix}1 & -2 \\3 & 2 \end{pmatrix} \cdot \begin{pmatrix}x \\ y \end{pmatrix} = \begin{pmatrix}1 \\11\end{pmatrix}$

In [1]:
import numpy as np

In [2]:
a = np.array([[1,-2],[3,2]])
b = np.array([[1],[11]])

$ A \cdot X = B $

$ A^{-1} A X = A^{-1} \cdot B  $

$I \cdot X   = A^{-1} \cdot B $

In [3]:
a = np.array([[1,-2],[3,2]])
b = np.array([[1],[11]])
inv_a = np.linalg.inv(a)

inv_a.dot(b)

array([[3.],
       [1.]])

# Part 5: Linear Regression with Linear Algebra (OLS!)

A linear regression can be interpreted as the solution to a system of linear equations: each observation just corresponds to a linear equation, and the **coefficients** are the linear unknowns we're solving for! 

We're representing each **observation** as a **linear combination of features**.

Our prediction equation for a linear regression typically looks something like:

$ y_{pred} = \beta_{0} + \beta_{1}x_1 + \beta_{2}x_2 + ... + \beta_{n}x_n $

Represented in matrix form:

$ y = Xb $, so we are solving for $b$.

In this example, we'll work through a linear regression problem with the Auto dataset. We want to predict the **mpg** using *cylinders, displacement, horsepower, weight, acceleration and year*.

In [4]:
import pandas as pd
car_df = pd.read_csv('http://faculty.marshall.usc.edu/gareth-james/ISL/Auto.csv',na_values='?').dropna()
car_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [5]:
X_df = car_df[['cylinders','displacement','horsepower','weight','acceleration','year']]
y = car_df['mpg']
X_df.head()

   cylinders  displacement  horsepower  weight  acceleration  year
0          8         307.0       130.0    3504          12.0    70
1          8         350.0       165.0    3693          11.5    70
2          8         318.0       150.0    3436          11.0    70
3          8         304.0       150.0    3433          12.0    70
4          8         302.0       140.0    3449          10.5    70

In [6]:
# to get the intercept term
X_df['constant'] = 1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
X_df.head()

   cylinders  displacement  horsepower  weight  acceleration  year  constant
0          8         307.0       130.0    3504          12.0    70         1
1          8         350.0       165.0    3693          11.5    70         1
2          8         318.0       150.0    3436          11.0    70         1
3          8         304.0       150.0    3433          12.0    70         1
4          8         302.0       140.0    3449          10.5    70         1

$ y = Xb + 0 $  --> $ y = Xb $

We want to solve for $b$! As we did before, to solve for $b$ we need to multiply both sides by the inverse of $X$.

Let's try to $ X^{-1} $

In [8]:
np.linalg.inv(X_df.values)

LinAlgError: Last 2 dimensions of the array must be square

We get: 

    LinAlgError: Last 2 dimensions of the array must be square.

We can only calculate an inverse of a **square** matrix. Why?

***

### Sidebar (again): Some Linear Algebra Theory 

In Linear Algebra theory, we have something called an **invertible matrix** with a definition as follows:

    An n-by-n square matrix A is called invertible if there exists an N by N square matrix B such that

<div style="text-align:center"><span style="color:blue; font-family:Georgia; font-size:1.5em;">AB = BA = I</span></div>

    where I is the identity matrix. A and B are inverses of each other.
    
***
    

By this definition, we can only find the inverse of square matrices. So with $b$ not being square, how can we solve this system using the data that we have? (No spoilers.)

<center>
 $b = (X^{T}X)^{-1}X^{T}y$ 
</center>


Let's apply this to our data.

In [9]:
xt = (X_df.values).T
xtx = np.matmul(xt, X_df.values)

product = np.matmul(np.linalg.inv(xtx), xt)

b = np.matmul(product, y.values)
print(b)

[-3.29859089e-01  7.67843024e-03 -3.91355574e-04 -6.79461791e-03
  8.52732469e-02  7.53367180e-01 -1.45352505e+01]

Now we have our coefficients! They correspond to each of the columns in `X_df` in order. Let's compare this to our `sklearn` model.

In [10]:
list(zip(X_df.columns, b))

[('cylinders', -0.3298590890737034),
 ('displacement', 0.007678430243921258),
 ('horsepower', -0.00039135557376773766),
 ('weight', -0.006794617913375069),
 ('acceleration', 0.08527324694717985),
 ('year', 0.7533671797500481),
 ('constant', -14.535250480501585)]

In [11]:
# comparing sklearn

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

skl_X = X_df.drop(columns = 'constant')
lr.fit(skl_X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
print('constant: ', lr.intercept_)
print('coefficients: ', lr.coef_)

constant:  -14.535250480506104
coefficients:  [-3.29859089e-01  7.67843024e-03 -3.91355574e-04 -6.79461791e-03
  8.52732469e-02  7.53367180e-01]

### Additional Resources
* 3 Blue 1 Brown:  https://www.youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_a
* Matrix approach to Linear Regression: http://www.stat.columbia.edu/~fwood/Teaching/w4315/Fall2009/lecture_11
* [link to fun desmos interaction](https://www.desmos.com/calculator/yovo2ro9me)
* [Link to good video on scalars and vectors](https://www.youtube.com/watch?v=fNk_zzaMoSs&list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab)
* [What is X^T * X?](https://stats.stackexchange.com/questions/267948/intuitive-explanation-of-the-xtx-1-term-in-the-variance-of-least-square/267963)